body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('img/fabric.png');
}
main{
    color: #333;
    overflow-wrap: break-word;
    min-height: 100vh;
}
header {
    background-color: white;
    color: black;

    display: flex;
    justify-content: center;
    font-size: 1.4em;
    padding: 0px 0px 1px;
    line-height: 0.3em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #d4ba8a;
    z-index: 1000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header a{
    text-decoration: none;
    color: #222;
    padding-left: 1em;
    padding-right: 1em;
}
footer {
    color: #444;

    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
footer a{
    color: #444;
}
#content {
    padding: 0 2rem;
}

.flexbox{
    display: flex;
    justify-content: right;
    padding: 0 2em;
    flex-wrap: wrap;
    margin-bottom: 4em;
}
.flexbox > a{
    width: 600px;
    padding: 0 0 2rem;
}
.flexbox > p{
    width: 300px;
    text-align: right;
    padding-right: 1.5em;
    align-items: flex-end;
    line-height: 1.56em;
    color: #333;
}
.flexbox > a > div{
    height: 250px;
}

.imagebox, .photobox{
    position: relative; /* чтоб все внутри было относительно этого блока */
    width: 100%;
    overflow: hidden; /* чтоб картинка не выходила за пределы div*/
    border-radius: 26px;
}
.imagebox img, .photobox img {
    width: 100%;
    height: 100%;
    margin-bottom: -10px;
    object-fit: cover; /* покрывать весь div */
}
.imagebox > div, .photobox div{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    color: white;
    text-align: center;
    padding-bottom: 0.5em;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5em;
    
}
.imagebox + div{
    font-size: 1.2em;
    text-indent: 1.2em;
    line-height: 1.4em;
}
ul {
    list-style-type: none;
}
.title{
    color: #af9164;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.2em;
    padding-right: 4em;
}

.gridcontent{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 столбца и безлимит строк */
    gap: 2em;
    padding-bottom: 1em;
}

audio {
    width: 80%;
    border-radius: 500px;
    display: block;
    margin: auto;
}

@media (min-width: 1250px) {
    .width1200{
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 0;
    }
    .imagebox + div{
        text-align: justify;
    }
    .wide{
        grid-column-end: span 2;
    }
}
@media (max-width: 1250px) {
   
    .width1200{
        width: 100%;
        margin: 0 auto;
    }
    .imagebox, .photobox{
        border-radius: 2.3vw;
    }
    .imagebox div, .photobox div{
        font-size: 6vw;
    }
    .title{
        padding: 0;
        font-size: 5vw;
    }
    .gridcontent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2em;
    }
}
@media (max-width: 600px){
    header{
        font-size: 3.5vw;
    }
}
